* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f2f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.messages {
    display: flex;
    gap: 12px;
    flex-wrap: nowrap;        
    align-items: flex-start;
    flex-direction: column;
}

.message__card {
    display: inline-flex;   
    flex: 0 0 auto;         
    width: fit-content;     
    max-width: 100%;
    padding: 13px;
    border-radius: 10px;
    border: 2px solid rgb(36, 36, 148);
    background-color: white;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer;
}

.message__card p {
    font-weight: bolder;
}